{
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "mocha": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "plugin:@cspell/recommended"
  ],
  "globals": {
    "expect": true
  },
  "rules": {
    "max-len": [
      "error",
      120,
      2,
      {
        "ignoreUrls": true,
        "ignoreComments": false,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "object-curly-newline": "off",
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "style"
      }
    ],
    "max-depth": [
      "error",
      4
    ],
    "max-nested-callbacks": [
      "error",
      5
    ],
    "max-params": [
      "error",
      4
    ],
    "complexity": [
      "error",
      20
    ],
    "@cspell/spellchecker": [
      "error"
    ]
  }
}
