{
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "mocha": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "plugin:@cspell/recommended"
  ],
  "globals": {
    "expect": true
  },
  "rules": {
    "max-len": [
      "error",
      {
        "code": 120,
        "tabWidth": 2,
        "ignoreUrls": true,
        "ignoreComments": false,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "object-curly-newline": "off",
    "@cspell/spellchecker": [
      "error"
    ]
  }
}
